/#GAMENUMEROUNO.py
/.vscode
/aiohttp-3.9.1-cp311-cp311-win_amd64.whl
/aiosignal-1.3.1-py3-none-any.whl
/answer.txt
/artists.txt
/attrs-23.1.0-py3-none-any.whl
/beegeek.txt
/Celi, zadachi, vsvods
/check.py
/check.txt
/Class_classes_001
/class_scores.txt
/Cython-0.29.32-py2.py3-none-any.whl
/da.txt
/data.csv
/data.txt
/dataset_3363_2 (4).txt
/dataset_3363_2.txt
/dataset_3363_3 (1).txt
/dataset_3363_3 (2).txt
/dataset_3363_3 (3).txt
/dataset_3363_3 (4).txt
/dataset_3363_3 (5).txt
/dataset_3363_3 (6).txt
/dataset_3363_3.txt
/dataset_3363_4 (1).txt
/dataset_3363_4 (2).txt
/dataset_3363_4 (3).txt
/dataset_3363_4 (4).txt
/dataset_3363_4 (5).txt
/dataset_3363_4 (6).txt
/dataset_3363_4 (7).txt
/dataset_3363_4.txt
/dataset_3378_2 (1).txt
/dataset_3378_2 (2).txt
/dataset_3378_2.txt
/data_file.json
/data_files.json
/file.txt
/files_and_their_function.py
/finance.py
/first_names.txt
/frozenlist-1.4.0-cp311-cp311-win_amd64.whl
/Function.py
/goats.txt
/hangman.py
/Hate.py
/Hi, Python.txt
/idna-3.6-py3-none-any.whl
/import pygame.py
/input.txt
/lambdas.py
/last_names.txt
/launch.json
/lines (1).txt
/List, mnojestva and clovary.py
/logfile.txt
/magnum idiotus maxima.py
/mon2_ani
/multidict-6.0.4-cp311-cp311-win_amd64.whl
/mydatabase.db
/new_scores.txt
/numbers.txt
/nums.txt
/output.txt
/population.txt
/pygame
/random.txt
/response_log.txt
/settings-layout.json
/tesst.py
/test.db
/test.txt
/testing.py
/text_001.txt
/token_001.py
/translater.py
/Untitled-1.py
/users
/users.txt
/VSC.code-workspace
/words.txt
/yarl-1.9.3-cp311-cp311-win_amd64.whl
/__pycache__
/Новый текстовый документ.py